#div1{
    background-color: green;
    margin-top: 100px;
    margin-left: 550px;
}
#div2{
    background-color: rgb(108, 38, 15);
    margin-top: -100px;
    margin-left: 652px;
}
#div3{
    background-color: rgb(223, 86, 109);
    margin-top: -100px;
    margin-left: 754px;
}
#div4{
    background-color: rgb(12, 155, 207);
    margin-top: -100px;
    margin-left: 856px;
}
#div5{
    background-color: rgb(114, 221, 114);
    margin-top: -100px;
    margin-left: 958px;
}
#div6{
    background-color: blueviolet;
    margin-top: 20px;
    margin-left: 450px;
}
#div7{
    background-color: chocolate;
    margin-top: -100px;
    margin-left: 552px;
}
#div8{
    background-color: rgb(17, 54, 29);
    margin-top: -100px;
    margin-left: 654px;
}
#div9{
    background-color: rgb(45, 1, 64);
    margin-top: -100px;
    margin-left: 756px;
}
#div10{
    background-color: rgb(255, 0, 0);
    margin-top: -100px;
    margin-left: 858px;
}
#div11{
    background-color: rgb(49, 33, 68);
    margin-top: -100px;
    margin-left: 960px;
}
#div12{
    background-color: darkred;
    margin-top: -100px;
    margin-left: 1062px;
}
#div13{
    background-color: rgb(6, 0, 42);
    margin-top: 20px;
    margin-left: 350px;
}
#div14{
    background-color: rgb(132, 208, 225);
    margin-top: -100px;
    margin-left: 452px;
}
#div15{
    background-color: rgba(52, 48, 2, 0.975);
    margin-top: -100px;
    margin-left: 554px;
}
#div16{
    background-color: black;
    margin-top: -100px;
    margin-left: 656px;
}
#div17{
    background-color: rgb(2, 52, 32);
    margin-top: -100px;
    margin-left: 758px;
}
#div18{
    background-color: rgb(115, 219, 11);
    margin-top: -100px;
    margin-left: 860px;
}
#div19{
    background-color: magenta;
    margin-top: -100px;
    margin-left: 962px;
}
#div20{
    background-color: blue;
    margin-top: -100px;
    margin-left: 1064px;
}
#div21{
    background-color: rgb(181, 147, 212);
    margin-top: -100px;
    margin-left: 1166px;
}
body
{
    background-color: rgb(8, 251, 214);
}